{% extends '../base_files/base.html' %}
{% load static %}


{% block content %}
<section
        style="background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url({% static 'img/banner.jpg' %});
        background-size: cover; background-position: center center"
        class="hero">

<div class="header" >

    <div class="form-box">
        <div class="social-icons">
            <img src="{% static 'img/facebook.png' %}">
            <img src="{% static 'img/gmail.png' %}">
        </div>

        <form method="post" id="login" class="input-group" >
            {% csrf_token %}
            {{ form }}
           <!-- <input type="text" class="input-field" placeholder="Enter Your Email" required>
            <input type="password" class="input-field" placeholder="Enter Password" required> -->
            <button type="submit" class="submit-btn">Login</button>
        </form>

    </div>
</div>
</section>
{% endblock %}


<!--
<h1>Login</h1>
<form method="post">
    security method to keep people from calling from outside our site
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>
-->