<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="custom.css">
    <title>Title</title>
</head>
<body>
  <div class="container">
  <form action="contact_page.php">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="What can we help you with?">What can we help you with?</label>
    <select id="issue" name="issue">
      <option value="Q&A">Q&A</option>
      <option value="g_issues">General Issues</option>
      <option value="collab">Collaboration</option>
      <option value="other">Other</option>
    </select>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>

</body>
</html>
